*.[oa]
*.l[oa]
*.dll
*.exe
*.exe.*
*.obj
*.pyc
*.so
*~
*.idb
*.suo
*.ncb
*.vcproj.*
*.vcxproj.user
*.sln.cache
*.log
Release
Debug
Win32-Output
.vs
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h.in
config.log
config.status
depcomp
stamp-h1
vcpkg_installed

msvc-env-local.bat
doc/openvpn-examples.5
doc/openvpn-examples.5.html
doc/openvpn.8
doc/openvpn.8.html
/doc/doxygen/html/
/doc/doxygen/latex/
/doc/doxygen/openvpn.doxyfile
distro/systemd/*.service
vendor/cmocka_build
vendor/dist
build/msvc/msvc-generate/version.m4

tests/t_client.sh
tests/t_client-*-20??????-??????/
t_client.rc
t_client_ips.rc
tests/unit_tests/**/*_testdriver
tests/unit_tests/engine-key/client.key
tests/unit_tests/engine-key/log.txt
tests/unit_tests/engine-key/openssl.cnf
tests/unit_tests/engine-key/passwd

src/openvpn/openvpn
nbproject
test-driver
